@model IEnumerable<WebHamburgueseria.Models.Ventum>

@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ventas</h1>

<p>
    <!-- Cambiamos 'asp-action' a 'NuevaVenta' -->
    <a asp-action="NuevaVenta">Nueva Venta</a>
</p>

<p>
    <a asp-action="Create"><i class="fa fa-plus"></i>Crear nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCambio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoCambio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVenta" title="Editar"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdVenta" title="Listar"><i class="fa fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVenta" title="Eliminar"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
